<div
  *ngIf="{
    timer: (timer$ | async)
  } as state"
  class="board-container"
>
  <div class="header">
    <div>{{ gameState.remainingMines() }}</div>
    <div>
      <img
        draggable="false"
        class="ng-icon"
        [ngSrc]="'assets/angular.png'"
        [height]="30"
        [width]="30"
        [class.win]="gameState.process() === gameProcess.Win"
        [class.loss]="gameState.process() === gameProcess.GameOver"
        (click)="gameState.generateNewBoard()"
      />
    </div>
    <div>{{ state.timer }}</div>
  </div>

  <div
    class="game-container"
    [style.pointer-events]="[gameProcess.GameOver, gameProcess.Win].includes(gameState.process()) ? 'none' : null"
  >
    <div class="row" *ngFor="let row of gameState.grid(); trackBy: byIndex">
      <app-tile *ngFor="let tile of row; trackBy: byIndex" [tile]="tile"></app-tile>
    </div>
  </div>
</div>
