<div
  *ngIf="{
    grid: (gameState.grid$ | async)!,
    process: (gameState.process$ | async)!,
    remainingMines: (gameState.remainingMines$ | async)!,
    timer: (gameState.timer$ | async) ?? 0
  } as state"
  class="board-container"
>
  <div class="header">
    <div>{{ state.remainingMines }}</div>
    <div>
      <img
        draggable="false"
        class="ng-icon"
        [ngSrc]="'/assets/angular.png'"
        [height]="30"
        [width]="30"
        [class.win]="state.process === gameProcess.Win"
        [class.loss]="state.process === gameProcess.GameOver"
        (click)="gameState.generateNewBoard()"
      />
    </div>
    <div>{{ state.timer }}</div>
  </div>

  <div
    class="game-container"
    [style.pointer-events]="[gameProcess.GameOver, gameProcess.Win].includes(state.process) ? 'none' : null"
  >
    <div class="row" *ngFor="let row of state.grid; trackBy: byIndex">
      <app-tile *ngFor="let tile of row; trackBy: byIndex" [tile]="tile"></app-tile>
    </div>
  </div>
</div>
